body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
  }
  
  #title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    font-size: 5vmin;
  }
  
  #title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #title-sub {
    margin-top: -6vmin; /* Add margin to separate from #title */
  }
  
  #image-track {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
  }
  
  #image-track > .game-image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    margin: 1vmin;
  }
  
  @media only screen and (max-width: 768px) {
    #title {
      font-size: 4vmin;
    }
    
    #image-track {
      height: 60%;
    }
  }